<%- include("layouts/header") -%>
<div class="container mt-4">
    <h1>Top Books</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" style="max-width: 500px;">
                    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% for (let i = 0; i < 5; i++) { %>
                                <div class="carousel-item active">
                                    <img src="<images/book1.jpg>" class="d-block w-100" alt="Book 1" style="width: 400px; height: 597px;">
                                </div>
                            <% } %>
                            <div class="carousel-item">
                                <img src="images/book2.jpg" class="d-block w-100" alt="Book 2" style="width: 400px; height: 597px;">
                            </div>
                            <div class="carousel-item">
                                <img src="images/book3.jpg" class="d-block w-100" alt="Book 3" style="width: 400px; height: 597px;">
                            </div>
                            <div class="carousel-item">
                                <img src="images/book4.jpg" class="d-block w-100" alt="Book 4" style="width: 400px; height: 597px;">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" ariahidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="bookInfo" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>
<div class="row mt-4">
<h2>Popular Books</h2>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook1.jpg" alt="Popular Book 1" style="max-width: 100%;">
        <p>Lord of the Rings</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook2.jpg" alt="Popular Book 2" style="max-width: 100%;">
        <p>The Alchemist</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook3.jpg" alt="Popular Book 3" style="max-width: 100%;">
        <p>Twilight</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook4.jpg" alt="Popular Book 4" style="max-width: 100%;">
        <p>Fifty Shades ofGrey</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook5.jpg" alt="Popular Book 5" style="max-width: 100%;">
        <p>The Book Thief</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook6.jpg" alt="Popular Book 6" style="max-width: 100%;">
        <p>Hunger Games</p>
    </div>
</div>
</div>


</div>
<%- include("layouts/footer") -%>