
body {
    background-color: #5e5b65;
    align-items: center;
}


.navbar {
    margin-bottom: 20px;
}


h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(212, 38, 38, 0.1);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.mb-4 {
    margin-bottom: 20px;
}


.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    visibility: visible;
}

.popular-book {
    text-align: center;
    width: auto;
    display: inline-block;
}

.form-floating {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


h1.text-center.mb-4 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button.btn.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}

button.btn.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.center-content {
    text-align: center;
    margin-top: 50px;
}



.accordion-collapse {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}



label {
    font-size: 18px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }

  .rating input {
    display: none;
  }

  .rating label {
    display: inline-block;
    padding: 5px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
  }

  .rating label:before {
    content: '\2605'; 
  }

  .rating input:checked ~ label {
    color: #f8d64e; 
  }

  .post-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .post-box-controls {
    text-align: right; /* Align controls to the right */
  }
  .post-box textarea {
    width: 100%;
    height: 80px; /* Set your desired height */
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
  }

  .post-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  .comments-container {
    margin-top: 18px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

